.slider-container{
  position: relative;
  & .slider{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all .5s linear;
    top: 0;
    left: 0;
    z-index: 1;
    &.is-active{
      opacity: 1;
      visibility: visible;
      position: relative;
      z-index: 10;
    }
  }
  .arrow{

    --position: 7%;
    @media screen and (min-width:1024px) {
      --position: 3em;
    }
    position: absolute;
    cursor: pointer;
    z-index: 20;
    top: 50%;
    left: var(--position);
    transform: translateY(-50%);
    background-color: rgba(#fff,1);
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    opacity: .5;
    transition: opacity .5s;
    @media screen and(max-width: 768px) {
      transform: translateY(-50%) scale(.8);
    }
    img{
      display: block;
      width: 50%;
      height: 50%;
    }
    &:hover{
      opacity: .8;
    }
    i{
      transform: translateX(-2px);
    }
    &.next{
      left: unset;
      right: var(--position);
      i {
        transform: translateX(2px);
      }
    }
  }
  .slider-dots{
    position: absolute;
    width: auto;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    li{
      $size: .5em;
      width: $size;
      height: $size;
      background-color: transparent;
      margin-right: .5em;
      border-radius: 50%;
      border: 1px solid #fff;
      cursor: pointer;
      &:last-child{
        margin-right: 0;
      }
      &.is-active{
        background: #fff;
      }
      // &::before{
      //   content: "1";
      // }
    }
  }
}